.dino{
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(dino.png);
  bottom: 0px;
}

.obstacle{
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(cactus.png);
  bottom: 0px;
}
#desert{
  position: absolute;
  bottom: 0px;
  background-image: url(bg.png);
  background-repeat: repeat-x;
  -webkit-animation: slideright 600s infinite linear;
  animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;

}
@keyframes slideright {
  from { background-position: 70000%; }
  to { background-position: 0%; }
}
@-webkit-keyframes slideright {
  from { background-position: 70000%; }
  to { background-position: 0%; }
}
