.bgimage {
  height: 100vh;
  background: url("images/heroImage.png");
  background-size: cover;
  position: relative;
}
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.imageAboutPage {
  width: 100%;
}
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card-title {
  text-align: center;
}

.card:hover .servicesIcon {
  color: purple;
}

.servicesText:hover {
  border: 2px solid purple;
}
.navbarScroll.navbarDark {
  background-color: black;
}
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
  color: grey;
}

.fab {
  color: white;
}
#footer {
  background-color: purple;
  text-align: center;
}
#about,
#services,
#portfolio,
#contact {
  margin-top: 4rem;
  padding-top: 4rem;
}
#contact {
  padding-bottom: 4rem;
}
