*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 80%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.logo{
    width: 150px;
}
.logo img{
width: 100%;
}
.links ul{
    list-style: none;
    display: flex;
    
}
.links ul li{
    margin-left: 35px;
    }
    .links ul li a{
        text-decoration: none;
        color: gray;
        font-size: 18px;
    }
.links a:hover{
    color: #E8505b;
}
.container{
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}
.photo{
    width: 50%;
}
.text{
width: 50%;

}
.text h1{
    font-size: 55px;
    font-weight: 600;
}
.text h1 span{
    font-weight: 400;
    }
.text p{
    width: 85%;
    font-size: 17px;
    margin: 25px 0;
    color:gray;
}
.text button{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #E8505b;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.text button:hover{
    background: #bb444c;
}
.photo img{
    width: 520px;
}